.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.appName{
  color: blueviolet;
  font-size: 30px;
  margin-bottom: 20px;
}
.inputBox{
  display: flex;
  flex-direction: column;
} 
.inputBox{
  height: 35px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box; 
border-color: blueviolet;
color: blueviolet;
}


.btn{
  
margin-top:100px ;
  height: 30px;
  width: 90px;
  background-color: blueviolet;
  color: #fff;
  border-radius: 6px;
  
}